<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2 class="fw-bold mb-4">Add a new flat</h2>
      <%= render "form" %>
    </div>
  </div>
</div>
